<h1>Sample file names & icons </h1>
<p><%= fa_file_icon 'index.html', text: 'html' %></p>
<p><%= fa_file_icon 'index.pdf', text: 'pdf' %></p>
<p><%= fa_file_icon 'index.avi', text: 'avi' %></p>
<p><%= fa_file_icon 'index.mov', text: 'mov' %></p>
<p><%= fa_file_icon 'index.jpg', text: 'jpg' %></p>
<p><%= fa_file_icon 'index.bmp', text: 'bmp' %></p>
<p><%= fa_file_icon 'index.txt', text: 'txt' %></p>
<p><%= fa_file_icon 'index.PDF', text: 'PDF' %></p>
<p><%= fa_file_icon nil, text: 'nil' %></p>
<p><%= fa_file_icon 'index.rb', text: 'rb' %></p>
<p><%= fa_file_icon 'index.css', text: 'css' %></p>
<p><%= fa_file_icon 'index.js', text: 'js' %></p>
<p><%= fa_file_icon 'index.jsx', text: 'jsx' %></p>
<p><%= fa_file_icon 'index.rar', text: 'rar' %></p>
<p><%= fa_file_icon 'index.7zip', text: '7zip' %></p>
<p><%= fa_file_icon 'index.7z', text: '7z' %></p>
<p><%= fa_file_icon 'index.doc', text: 'doc' %></p>
<p><%= fa_file_icon 'index.docx', text: 'docx' %></p>
<p><%= fa_file_icon 'index.xls', text: 'xls' %></p>
<p><%= fa_file_icon 'index.xlsx', text: 'xlsx' %></p>
<p><%= fa_file_icon 'index.sql', text: 'sql' %></p>
<p><%= fa_file_icon 'index.tar', text: 'tar' %></p>
<p><%= fa_file_icon 'index.gz', text: 'gz' %></p>
<p><%= fa_file_icon 'index.exe', text: 'exe' %></p>
<p><%= fa_file_icon 'index.csv', text: 'csv' %></p>
<p><%= fa_file_icon 'index.mp4', text: 'mp4' %></p>
<p><%= fa_file_icon 'index.pptx', text: 'pptx' %></p>
<p><%= fa_file_icon 'index.py', text: 'py' %></p>
<p><%= fa_file_icon 'index.cpp', text: 'cpp' %></p>
<p><%= fa_file_icon 'index.java', text: 'java' %></p>
